<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/main.css}" />
</head>

<body>
    <div th:fragment="header">
        <div class="header-container center">
            <h1 id="title" class="blue no-margin">Dev University</h1>
            <h2 id="subtitle" class="dark-back white inline-block rounded">Gradebook</h2>
        </div>
    </div>
    <div th:fragment="teacherNavBar">
        <ul id="nav-bar" class="dark-back no-margin no-padding">
            <li>
                <a href="/welcome">Home</a>
            </li>
            <li>
                <a href="/teachercourses">Courses</a>
            </li>
            <li>
                <a href="/signout">Sign Out</a>
            </li>
        </ul>
    </div>
    <div th:fragment="studentNavBar">
        <ul id="nav-bar" class="dark-back no-margin no-padding">
            <li>
                <a href="/welcome">Home</a>
            </li>
            <li>
                <a href="/studentcourses">Courses</a>
            </li>
            <li>
                <a href="/signout">Sign Out</a>
            </li>
        </ul>
    </div>
    <div th:fragment="adminNavBar">
        <ul id="nav-bar" class="dark-back no-margin no-padding">
            <li>
                <a href="/welcome">Home</a>
            </li>
            <li>
                <a href="/createCourse">Create Course</a>
            </li>
            <li>
                <a href="/admincourses">Courses</a>
            </li>
            <li>
                <a href="/signout">Sign Out</a>
            </li>
        </ul>
    </div>
</body>
</html>
