<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/main.css}" />
</head>

<body>
    <div th:fragment="header">
        <div class="header-container center">
            <h1 id="title" class="blue no-margin">Dev University</h1>
            <h2 id="subtitle" class="dark-back white inline-block rounded">Gradebook</h2>
        </div>
    </div>
    <div th:fragment="signedInNavBar">
        <ul id="nav-bar" class="dark-back no-margin no-padding">
            <li>
                <a href="/index">Home</a>
            </li>
            <li>
                <a href="/page2">Page 2</a>
            </li>
        </ul>
    </div>
</body>
</html>
